
.card{
    position: relative;
    width: 941px;
    height: 520px;
    background: #F64E60;
    border-radius: 12px;
    margin-bottom: 50px;
}

.cardContainer{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

}